* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: white;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

.tac {
    text-align: center;
}

h1, h2 {
    margin-top: 0;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
    margin-bottom: 6px;
}

h3 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 12px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

h6 {
    font-size: 19px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

.fl {
    float: left;
}

.navbar-item > ul {
    padding-top: 18px;
    padding-bottom: 18px;
    list-style: none;
}

.navbar-item > ul > li {
    padding-left: 10px;
    float: left;
}

.navbar-item > ul > li > a {
    font-size: 15px;
    padding-left: 18px;
}

.fr {
    float: right;
}

.fr .navbar-item > ul {
    position: absolute;
    top: -10px;
    right: 200px;
    list-style: none;
    padding-top: 20px;
}

.fr .navbar-item > ul > li {
    padding-left: 20px;
    display: block;
}

.hr {
    display: block;
    width: 96%;
    height: 1px;
    background: #eee;
    margin: 10px 1%;
}

.claerfix:after,
.claerfix:before {
    content: "";
    clear: both;
    display: table;

}

.head {
    height: 40px;
    margin-bottom: 0px;
}

.navbar {
    font-family: Lato, "微软雅黑", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    height: 60px;
    background: #9caebf;
    color: white;
    display: block;
    vertical-align: bottom;
    margin-bottom: 0px;
    border: 0px;

}

.navbar .container .fl > img {
    position: absolute;
    left: 120px;
    width: 55px;
    height: 60px;
}

.navbar a {
    color: white;
}

.navbar form {
    display: inline-block;
}

.navbar-item {
    display: inline-block;
    line-height: 2;
    padding: 2px 4px;
}

.navbar-item：first-child {
    margin-left: 4px;
}

.navbar-item:last-child {
    margin-right: 4px;
}

.logo {
    width: 50px;
    height: 60px;
    display: inline-block;
    border: 0;
    float: left;
}

[ui-sref] {
    cursor: pointer;
}

form,
label {
    display: block;
}

.home h1 {
    font-size: 16px;
}

.feed.item .vote {
    float: left;
    width: 10%;
}

.feed.item .feed-item-content {
    width: 90%;
    float: left;
}

.feed.item .hr {
    float: left;
}

.feed.item .vote {
    padding-right: 8px;
}

.feed.item .vote > * {
    background: rgba(200, 0, 0, 0.1);
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 2px;
    cursor: pointer;
}

.feed.item .vote .up {
    color: #6f0b00;
    padding: 4px;

}

.feed.item .vote .up:hover {
    background: #aa1100;
    color: #fff;
}

.feed.item .vote .down {
    background: rgba(0, 0, 0, 0.1);
    color: #555555;

}

.feed.item .vote .down:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;

}

.feed-item-content .content-act {
    font-size: 14px;
}

.feed-item-content .title,
.feed-item-content .content-owner {
    color: #222222;
}

.feed-item-content .title {
    font-weight: 700;
    font-size: 18px;
}

.feed-item-content .content-owner {
    font-size: 13px;
}

h1, h2,
.feed-item-content .content-act,
.feed-item-content .content-owner .desc,
.feed-item-content .action-set {
    color: #666;
}

.feed-item-content .content-main {

}

.comment-block {
    display: none;
}

.comment-item-set {
    padding: 0 10px;
}

.comment-item-set .rect {
    position: relative;
    bottom: 20px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #999;
}

.comment-item {
    padding-bottom: 10px;
}

.comment-item .user {
    float: left;
    width: 10%;
    font-weight: 800;
}

.comment-item .comment-content {
    width: 90%;
    float: right;
}

label {
    margin: 4px 0;
}

.input-error-set {
    color: red;
    margin: 6px 0;
}

.card {
    display: block;
    padding: 10px 6px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

input,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}

.input-group {
    margin-bottom: 10px;
}

button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    font-size: 15px;
}

button.primary,
#quick_ask button {
    background: #a10;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button[disabled] {
    background: #eee;
    color: #aaa;
}

button, input {
    padding: 6px;
}

.info_item > * {
    margin-bottom: 5px;
}

.info_item > *:first-child {
    float: left;
    width: 20%;
}

.info_item > *:last-child {
    float: left;
    width: 80%;
}

.user.container .title {
    font-weight: 700;
}

.comment {
    color: #666666;
}

.form-control {
    box-shadow: none;
    outline: 0;
    height: 41px;
    padding: 6px 12px;
    border-radius: 6px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 15px;
    line-height: 1.72222;
    border: 1px solid #fff;
    background-color: transparent;
}

.main {
    font-family: Lato, "微软雅黑", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    height: 218px;
    background: #9caebf;
    color: white;
}

.container-fluid {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid .jumbotron {
    border-radius: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #9caebf;
    color: #fff;
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding-top: 22px;
    padding-left: 50px;
    line-height: 24px;
}

#example-navbar-collapse > ul.nav.navbar-nav.navbar-right {
    padding-top: 5px;
    float: right;
    margin-right: 100px;
}

#example-navbar-collapse > ul.nav.navbar-nav.navbar-right > li {
    padding-left: 10px;
}

.media .media-left img {
    border-radius: 5px;
    width: 260px;
}

img {
    vertical-align: middle;
    border: 0;
}

.list .media {
    border-top: 1px solid rgba(34, 36, 38, .15);
    margin: 0;
    padding: 2em 0;
}

.container {
    width: 60%;
}

.container, .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.media, .media-body {
    zoom: 1;
    overflow: hidden;
    padding-left: 10px;
}

.media-left, .media > .pull-left {
    padding-right: 10px;
}

.media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media {
    padding-left: 10px;
}

.media-body {
    width: 10000px;
}

.list .media .media-body .media-heading > a {
    color: #34495e;
    font-size: 1.28571429em;
    display: inline-block;
    font-weight: 400;
}

body > div > div > div.container.list.ng-scope > div > div > div > div > div.meta > span {
    margin: .5em 0;
    font-size: 1.4em;
    line-height: 1em;
    color: #7f8c8d;
    padding-top: 5px;
}

.list .media .media-body .extra > a > .label i {
    padding-right: 10px;
}

.list .media .media-body .extra > a > .label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    background-color: #e8e8e8;
    background-image: none;
    padding-left: 10px;
    padding-top: 5px;
    color: rgba(0, 0, 0, .6);
    text-transform: none;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    transition: background .1s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}

.list .media .media-body .extra {
    margin-top: 15px;
}

.list .media .media-body .extra > a {
    margin: 0 5px;
    text-decoration: none;
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, .6);
}

i {
    font-style: italic;
}

.list .media .media-body .extra .info {
    color: #95a5a6;
    font-size: 1em;
}

.list .media .media-body .extra .info > a {
    display: inline-block;
    color: #18bc9c;
}

#app-navbar-collapse {
    margin-left: 0;
    margin-right: 0;
    height: 60px;
}

#app-navbar-collapse > ul.nav.navbar-nav.navbar-right {
    margin-left: 10px;
}

.container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
}

.navbar-brand {
    float: left;
    padding: 7px 15px;
    font-size: 22px;
    height: 60px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border-radius: 4px;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 24px;
    font-size: 21px;
    line-height: inherit;
    color: #636b6f;
}

label {
    color: #636b6f;
    cursor: default;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 5px;
}

.form-control, .form-control:focus, input {
    border-width: 2px;
    box-shadow: none;
    outline: 0;
}

.form-control {
    width: 100%;
    height: 41px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #dce4ec;
    border-radius: 6px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control, output {
    font-size: 14px;
    line-height: 1.72222;
    color: #95a5a6;
    display: block;
}

.btn-success {
    color: #fff;
    background-color: #6289ad;
    border-color: #6289ad;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.72222;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.form-group {
    margin-bottom: 15px;
}

.strike {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 15px;
}

.strike, .user-follow a, i.large {
    text-align: center;
    color: #636b6f;
}

.btn-primary {
    color: #fff;
    background-color: #34495e;
    border-color: #32465b;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 220px;
}

.footer {
    background-color: #9caebf;
    color: #fff;
    margin-top: 30px;
}

.footer ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.footer li {
    display: inline-block;
    padding-left: 6px;
}

.footer a, .header a, .links > a {
    text-decoration: none;
    color: #fff;
}

.text-center {
    text-align: center;
}